<div id="band-show-wrapper">
	<div class="row">
		<div class="large-12 columns text-center">
			<h2 class="section-heading"><%= @band.name %></h2>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns text-center">
			<h2 class="subheader"><%= @band.music_style %></h2>
			<p><%= @band.bio %></p>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns text-center">
			<h3 class="subheader">Recent Concerts</h3>

			<% if @band.concerts.any? %>
				<ul>
					<% @band.concerts.each do |concert| %>
						<li><%= concert.venue.country %>, <%= concert.venue.city %> (<%= concert.attendance %>)</li>
					<% end %>
				</ul>
			<% end %>
		</div>
	</div>

	<hr>
	<div class="row">
	  <div id="edit-panel" class="large-12 columns text-center">
	    <a class="button info" href="/bands/<%= @band.id %>/edit">Edit</a>
	    <a class="button warning" href="/bands/<%= @band.id %>/delete">Delete</a>
	    <a class="button" href="/bands">View all</a>
	  </div>
	</div>
</div>
