<div id="band-show-wrapper">
	<div class="row">
		<div class="large-12 columns text-left">
			<h1 class="section-title"><%= @band.name %></h1>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns text-left">
			<h2 class="band-section-heading"><%= @band.music_style %></h2>
			<p class="band-section"><%= @band.bio %></p>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns text-left">
			<h3 class="band-section-heading">Recent Concerts</h3>
			<% if @band.concerts.any? %>
				<ul class="band-section">
					<% @band.concerts.each do |concert| %>
						<li><b><%= concert.venue.name %></b>: <%= concert.venue.country %>, <%= concert.venue.city %> (<%= concert.attendance %>)</li>
					<% end %>
				</ul>
			<% end %>
		</div>
	</div>

	<hr>
	<div class="row">
	  <div id="edit-panel" class="large-12 columns text-center">
	    <a class="button info" href="/bands/<%= @band.id %>/edit">Edit</a>
	    <a class="button warning" href="/bands/<%= @band.id %>/delete">Delete</a>
	    <a class="button" href="/bands">View all</a>
	  </div>
	</div>
</div>
