<div id="bands-wrapper" class="container">
	<div class="row">
		<div class="large-12 columns text-center">
			<h1 id="title-font">Bands</h1>
		</div>
	</div>

	<% if @bands.any? %>
	<div class="row">
		<div class="large-12 columns text-center">
			<table id="bands-table">
				<thead>
					<tr>
						<th>Band Name</th>
						<th>Origin</th>
						<th>Music Style</th>
						<th>Registered</th>
					</tr>
				</thead>
				<tbody>
				<% @bands.each do |band| %>
					<tr>
						<td><a href="/bands/<%= band.id %>"><%= band.name %></a></td>
						<td><%= band.country_from %></td>
						<td><%= band.music_style %></td>
						<td><%= (band.created_at).strftime("%B, %Y") %></td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<% end %>
